<mat-toolbar class="mytoolbar">
    <div class="logoWrap">

        <button class="sideNavBtn" type="button" aria-label="Toggle sidenav" mat-icon-button disableRipple=true
            (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="titleName">{{routeName}}</span>
    </div>

    <app-search-bar></app-search-bar>

    <a class="Signin">
        <mat-icon style="font-size: 36px; margin-right: 15px;">account_circle</mat-icon>

        <a [routerLink]="['signin-page']"> Login </a>
    </a>

</mat-toolbar>

<mat-sidenav-container class="sidenav-container" [hasBackdrop]=false [autosize]="true">

    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" fixedTopGap="70"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'push' : 'side'"
        [opened]="!(isHandset$ | async)">

        <mat-nav-list disableRipple=true>

            <a mat-list-item [routerLink]="['/note-page']" routerLinkActive="is-active">
                <mat-icon class="material-icons-outlined">emoji_objects</mat-icon>
                <span>Note</span>
            </a>

            <a mat-list-item routerLink="/alerts" routerLinkActive="is-active">
                <mat-icon>notifications_none</mat-icon>
                <span>Notifications</span>
            </a>

            <mat-divider></mat-divider>

            <a mat-list-item>
                <!--  (click)="openDialog()" -->
                <mat-icon class="material-icons-outlined">edit_outlined</mat-icon>
                <span>Edit outline</span>
            </a>

            <mat-divider></mat-divider>

            <a mat-list-item routerLink="/arhive" routerLinkActive="is-active">
                <mat-icon class="material-icons-outlined">archive</mat-icon>
                <span>Archive</span>
            </a>

            <a mat-list-item routerLink="/trash-page" routerLinkActive="is-active">
                <mat-icon>delete_outline</mat-icon>
                <span>Trash</span>
            </a>

        </mat-nav-list>

        <mat-sidenav-content class="menu-content">

            <!-- Content -->





            <div class="mat-sidenav-footer"></div>
        </mat-sidenav-content>

    </mat-sidenav>