<!-- NAV BAR HERE! -->
<mat-toolbar class="mytoolbar">
    <div class="logoWrap">

        <button class="sideNavBtn" type="button" aria-label="Toggle sidenav" mat-icon-button disableRipple=true
            (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <a [routerLink]="['note-page']" class="titleName">{{routeName}}</a>
    </div>

    <app-search-bar></app-search-bar>

    <a class="Signin">
        <!-- <img [src]="user.photoURL">
        <h1>{{user.displayName}}</h1>
        <h2>{{user.email}}</h2> -->
        <mat-icon style="font-size: 50px; margin-right: 35px; margin-bottom: 25px;" *ngIf="!this.auth.user">
            account_circle</mat-icon>
        <img style="border-radius: 50%" *ngIf="this.auth.user" src="{{this.auth.user.photoURL}}" height="50px">

        <a class="logIn" *ngIf="!this.auth.user" [routerLink]="['signin-page']"> Sign in </a>
        <!-- <a class="loginOut" *ngIf="this.auth.user"  (click)="logout()"           > Sign out </a> -->

        <!-- (click)="signOut()"
        <button class="material-icons" *ngIf="!this.auth.user" (click)="loginGoogle()">login</button> -->

        <div class="logOut">
            <button style="border: none; background-color: transparent; font-size: 35px; margin: 9px 0px" class="material-icons" *ngIf="this.auth.user" (click)="logout()">logout</button>
        </div>
    </a>
</mat-toolbar>



<!-- SIDE BAR HERE! -->
<mat-sidenav-container class="sidenav-container" [hasBackdrop]=false [autosize]="true">

    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" fixedTopGap="70"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'push' : 'side'"
        [opened]="!(isHandset$ | async)">

        <mat-nav-list disableRipple=true>

            <a mat-list-item [routerLink]="['/note-page']" routerLinkActive="is-active">
                <mat-icon class="material-icons-outlined">emoji_objects</mat-icon>
                <span>Note</span>
            </a>

            <a mat-list-item routerLink="/alerts" routerLinkActive="is-active">
                <mat-icon>notifications_none</mat-icon>
                <span>Notifications</span>
            </a>

            <mat-divider></mat-divider>

            <a mat-list-item>
                <!--  (click)="openDialog()" -->
                <mat-icon class="material-icons-outlined">edit_outlined</mat-icon>
                <span>Edit outline</span>
            </a>

            <mat-divider></mat-divider>

            <a mat-list-item routerLink="/archive-page" routerLinkActive="is-active">
                <mat-icon class="material-icons-outlined">archive</mat-icon>
                <span>Archive</span>
            </a>

            <a mat-list-item routerLink="/trash-page" routerLinkActive="is-active">
                <mat-icon>delete_outline</mat-icon>
                <span>Trash</span>
            </a>

        </mat-nav-list>

        <mat-sidenav-content class="menu-content">

            <!-- Content -->





            <div class="mat-sidenav-footer"></div>
        </mat-sidenav-content>

    </mat-sidenav>