<div class="wrap">
  <div class="container my-6">
    <div class="text-center mb-5">
      <br>
      <h6 class="text-secondary text-uppercase">
        <span [routerLink]="['/login']" style="color: #d2c8dd; font-weight: bold;">Memos</span>
      </h6>
      <h1 class="text-capitalize font-weight-bold">Promotion <span style="color: #d2c8dd;">Plans</span></h1>
    </div>

    <div style="border-radius: 30px;"
      class="my-5 py-4 px-5 bg-light d-sm-flex align-items-center justify-content-between">
      <div class="text-center">
        <span style="font-weight: 600;">STARTER</span>
        <h1 class="my-2 font-weight-bold">$75</h1>
        <small class="text-uppercase text-secondary">Month</small>
      </div>
      <div class="text-center text-uppercase text-secondary">
        <small class="d-block" style="font-weight: 600;">Great for beginners </small>
        <small class="d-block my-3" style="font-weight: 600;">and hobbyists.</small>
      </div>
      <div class="text-center text-uppercase text-secondary">
        <small class="d-block" style="font-weight: 600;">1GB storage</small>
        <small class="d-block my-3" style="font-weight: 600;">No Support</small>
        <small class="d-block" style="font-weight: 600;">share under 20 people</small>
      </div>
      <div class="text-center">
        <a href="#" class="btn text-white px-5 py-3" style="background-color: #9B5DE5; border-radius: 30px;">Sign
          Up Now</a>
      </div>
    </div>

    <div style="border-radius: 30px;"
      class="my-5 py-4 px-5 bg-light d-sm-flex align-items-center justify-content-between">
      <div class="text-center">
        <span style="font-weight: 600;">ADVANCE</span>
        <h1 class="my-2 font-weight-bold">$150</h1>
        <small class="text-uppercase text-secondary">Month</small>
      </div>
      <div class="text-center text-uppercase text-secondary">
        <small class="d-block" style="font-weight: 600;">Recommended for </small>
        <small class="d-block my-3" style="font-weight: 600;">developers and </small>
        <small class="d-block" style="font-weight: 600;">experienced hobbyists.</small>
      </div>
      <div class="text-center text-uppercase text-secondary">
        <small class="d-block" style="font-weight: 600;">no advertising</small>
        <small class="d-block my-3" style="font-weight: 600;">10GB STORAGE</small>
        <small class="d-block" style="font-weight: 600;">24/7 Support</small>
        <small class="d-block my-3" style="font-weight: 600;">share under 50 people</small>
      </div>
      <div class="text-center">
        <a href="#" class="btn text-white px-5 py-3" style="background-color: #9B5DE5; border-radius: 30px;">Sign
          Up Now</a>
      </div>
    </div>

    <div style="border-radius: 30px;"
      class="my-5 py-4 px-5 bg-light d-sm-flex align-items-center justify-content-between">
      <div class="text-center">
        <span style="font-weight: 600;">ENTERPRISE</span>
        <h1 class="my-2 font-weight-bold">$250</h1>
        <small class="text-uppercase text-secondary">Month</small>
      </div>
      <div class="text-center text-uppercase text-secondary">
        <small class="d-block" style="font-weight: 600;">Ideal for small </small>
        <small class="d-block my-3" style="font-weight: 600;">businesses and</small>
        <small class="d-block" style="font-weight: 600;">experienced developers.</small>
      </div>
      <div class="text-center text-uppercase text-secondary">
        <small class="d-block" style="font-weight: 600;">no advertising</small>
        <small class="d-block my-3" style="font-weight: 600;">Unlimited STORAGE</small>
        <small class="d-block" style="font-weight: 600;">24/7 Support</small>
        <small class="d-block my-3" style="font-weight: 600;">Unlimited sharing</small>
      </div>
      <div class="text-center">
        <a href="#" class="btn text-white px-5 py-3" style="background-color: #9B5DE5; border-radius: 30px;">Sign
          Up Now</a>
      </div>
    </div>
    <div class="text-center">
      <a href="#" class="btn text-white px-5 py-3" style="background-color: #9B5DE5; border-radius: 30px;">Back to home</a>
    </div>
  </div>
</div>