<div class="ok">
  <div class='container'>
    <div class='price-plan fancy'>
      <h2>Starter</h2>
      <p class='price'><sup>$</sup>25<sub>/Month</sub></p>
      <ul class='price-points'>
        <li>No Ads</li>
        <li>1GB Storage</li>
        <li>No Support</li>
        <li>20 Users</li>
      </ul>
      <button url='#' class='polyFourth poly3'>Buy Now</button>
    </div>

    <div class='price-plan fancy'>
      <h2>Advance</h2>
      <p class='price'><sup>$</sup>50<sub>/Month</sub></p>
      <ul class='price-points'>
        <li>No Ads</li>
        <li>10GB Storage</li>
        <li>24/7 Support</li>
        <li>50 Users</li>
      </ul>
      <button url='#' class='polyFourth poly3'>Buy Now</button>
    </div>

    <div class='price-plan fancy'>
      <h2>Enterprise</h2>
      <p class='price'><sup>$</sup>100<sub>/Month</sub></p>
      <ul class='price-points'>
        <li>No Ads</li>
        <li>10GB Storage</li>
        <li>24/7 Support</li>
        <li>Unlimited sharing</li>
      </ul>

      <button url='#' class='polyFourth poly3'>Buy Now</button>
    </div>
  </div>
</div>