<div class="body">

    <!-- <app-new-note></app-new-note> -->


    <!-- <button (click)="checkArray()">check item</button> -->

    <div class="grid" #gridLayout>
        <div>
            <div class="item-content">
                <!-- <div  *ngFor="let note of notes; let i = index;" >
                    <app-cart-item *ngFor="let item of Cart.cartitems" [cartItem]="item"></app-cart-item>
                    {{i}} {{notes.title}}

                </div>
                 <div>
                    {{notes.title}}

                </div>
                <app-note class="item" *ngFor="let note of notes" [notes]='notes'></app-note>
               <div *ngFor="let note of noteServcies.getNotes" [Notes]="note"></div> -->
                
                    <app-note></app-note>

            </div>
        </div>
    </div>

    

</div>