<div>
    <div class="div1">
        <div class="text" style="display: flex; flex-direction: column;">

            <div class="head">
                <div class="taitồ">
                    <p class="glitch"><i>MEMOS</i></p>
                </div>
                <div class="buttonToPress">
                    <button class="btn btn--stripe" (click)="click()"> Check </button>
                    <button class="btn btn--stripe"> EXAMPLE </button>
                    <button class="btn btn--stripe"> EXAMPLE </button>
                    <button class="btn btn--stripe" routerLink="/promo"> BUY NOW </button>
                    <button class="btn btn--stripe" routerLink="/sign-in"> SIGN IN </button>
                </div>
            </div>

            <div class="body">
                <div class="discript">
                    <p> Lorem ipsum is a placeholder</p>
                    <p> Why are we still here? </p>
                    <p> Just to suffer. </p>
                    <p> We got what we want. </p>
                    <p> But not what we need. </p>
                </div>
            </div>

        </div>

    </div>

    <!-- <div class="div2">

    </div> -->
</div>