<div class="login-page">
    <div class="form">
        <form>
            <img [src]="user.photoURL">
            <h1>{{user.displayName}}</h1>
            <h2>{{user.email}}</h2>

            <h1 id="title" style="margin: 80px;">Sign in</h1>
            <br>
            <input type="text" placeholder="Username" required />
            <input type="password" placeholder="Password" required />

            <button class="Font">login</button>
            <p class="message">Not registered? <a style="text-decoration: none; color: #1a73e8;" href="register-page">
                    Create an account</a></p>
            <p>or</p>
            <div class="google-btn">
                <div class="google-icon-wrapper">
                    <img class="google-icon"
                        src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
                </div>
                <a class="btn-text" (click)="login()">Login with Google</a>
            </div>

<!-- 
            <button (click)="signOut()">signout</button> -->

        </form>
    </div>
</div>