<div class="login-page">
    <div class="form">
        <form>

            <h1 id="title">Sign in</h1>
            <br>
            <input type="text" placeholder="Username" required />
            <input type="password" placeholder="Password" required />

            <button class="Font">login</button>
            <p class="message">Not registered? <a href="register-page"> Create an account</a></p>
            <p>or</p>
            <button (click)="login()">Login with Google</button>

        </form>
    </div>
</div>