<div class="grid" #gridLayout  *ngFor="let note of noteServcies.getArchive ;let i = index">
    <div class="item">
        <div class="item-content" [ngStyle]="{'background-color':this.noteServcies.getColorByNum(i+1,'archive')}">
            <div class="cardInfo">
                <h3 class="cardTitle">{{note.title}}</h3>
                <p class="cardDescripion">{{note.description}}</p>
                <button mat-menu-item class="myMenuItem myMenuItemRiple" (click)="deleteNote(i+1)">
                    <span>Xóa {{note.num}}</span>
                </button>




                <!-- <div class="cardFooter" [ngClass]="{menuActive:menuActiveTrigger}"> -->
                    <!-- <app-note-menu [note]='note' [details]='true' (showNote)="openDialog(note)"
                        (setMenu)="setMenuStatus($event)" (fileProgress)="setFileProgress($event)"></app-note-menu>
                    <app-note-menu [note]='note' [details]='true'></app-note-menu> -->
                <!-- </div> -->
            </div>

        </div>

    </div>


</div>