<div class="editBodyWrapper">
    <div class="image-preview" *ngIf="note.imagePreview">
        <img draggable="false" [ngClass]={imageLoading:fileProgress} class="noteImage" [src]="note.imagePreview">
        <!-- <div class="deleteImgBtn" (click)="deleteImage()">
          <mat-icon class="deleteIco">delete</mat-icon>
        </div> -->
        <mat-progress-bar *ngIf="fileProgress" mode="query"></mat-progress-bar>
    </div>
    
    <div class="header">
        <input type="text" class="title" placeholder="Tiêu đề" [(ngModel)]="note.title">
    </div>

    <div class="body">
        <textarea placeholder="Tạo ghi chú" [(ngModel)]="note.description" class="description" cdkTextareaAutosize
            #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1">
        </textarea>
    </div>
</div>