<div class="body">

    <app-new-note></app-new-note>

    <button (click)="checkArray()">check item</button>

    <div class="grid" #gridLayout>
        <div>
            <div class="item-content">
                
                <h2 style="margin-left: 5px; font-style: italic;"> Được ghim </h2>
                <div class="idkwhatname1">
                    <app-note-flag></app-note-flag>
                </div>
                <br>
                <h2 style="margin-left: 10px; font-style: italic;"> Khác </h2>
                <div class="idkwhatname2">
                    <app-note></app-note>
                </div>

            </div>
        </div>
    </div>
</div>