.body {
    margin-top: 70px;
    margin-left:280px;
}

.dumadume {

    border: black solid; 
    height: auto; 
    width: 50vw;
    // display: grid;
    // grid-gap: 1rem;
    // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}