.body {
    margin-top: 70px;
    margin-left:280px;
}

.idkwhatname1{
    // background-image: linear-gradient(to top, #feefc3 0%, white 100%);
    background-image: linear-gradient(to top, white 0%, #feefc3 100%);

    height: auto; 
    width: 85vw;
    border-radius: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
}
.idkwhatname2{
    background-image: linear-gradient(to top, white 0%, #feefc3 100%);

    height: auto; 
    width: 85vw;
    border-radius: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
