<!-- <div class="noteMenuWrap"> -->
    <!-- <mat-menu #labelMenu="matMenu"> -->
    <!-- <div class="matMenuWrap labelMenuWrap" click-stop-propagation> -->

        <!-- <button mat-menu-item class="myMenuItem myMenuItemRiple"> -->
            <!-- <button mat-menu-item class="myMenuItem myMenuItemRiple" (click)="deleteConfirmDialogue()"> -->
            <!-- <span>Thiết lập lại</span> -->
            <!-- <span (click)="test()">xóa</span> -->
            <!-- <span (click)="onClickGetNum()">Xóa</span> -->
            <!-- <span *ngFor="let item of Trash; let i = index">
                {{i}}
            </span> -->
        <!-- </button> -->
    <!-- </div> -->
    <!-- </mat-menu> -->
<!-- </div> -->