<div class="newNote" [ngStyle]="{background:newNote.color}" [class.opened]="openTrigger">

    <!-- Closed newNote element cap  !-->
    <div class="newNoteCap" *ngIf="!openTrigger">
        <input autofocus type="text" class="description" placeholder="Tạo ghi chú">
    </div>

    <div class="newNoteWrapper" *ngIf="openTrigger">
        <app-note-edit-body [note]=newNote></app-note-edit-body>
        <div class="footer">

            
            <app-note-menu [note]='newNote' [newNote]='true'></app-note-menu>

            <a class="closeBtn">close</a>
        </div>
    </div>

</div>