<div class="body">
    <app-new-note></app-new-note>

    <div class="grid" style="display: flex;" #gridLayout>
        <div>
            <div class="item-content">
                <div>
                    <app-note-flag [note]=note *ngFor="let note of noteServcies.getFlag"></app-note-flag>
                </div>
            </div>
        </div>
    </div>

    <div class="grid" style="display: flex;" #gridLayout>
        <div class="item-content">
            <div>
                <app-note [note]=note *ngFor="let note of noteServcies.getNotes"></app-note>
            </div>
        </div>
    </div>
    
    <div class="grid" style="display: flex;" #gridLayout>
        <div class="item-content">
            <div>
                <app-note-shared [note]=note *ngFor="let note of sharedSer.getNoteSharedData"></app-note-shared>
            </div>
        </div>
    </div>

</div>
