<div class="body">
    <div class="form">
        <form action="" id="formContent">
            <h1 id="title">Register</h1>
            <div>
                <input type="text" id="userName" name="email" placeholder="Email"><br>
            </div>
            <div>
                <input type="text" id="userName" name="username" placeholder="Username"><br>
            </div>
            <div>
                <input type="password" id="passWord" name="password" placeholder="Password">
            </div>
            <div>
                <input type="password" id="passWord" name="re-enterpassword" placeholder="Re-enter your password">
            </div>
            <div>
                <input type="phone-number" id="userName" name="phoneNumber" placeholder="Phone number">
            </div>
            <br>
            <br>
            <button class="register_btn">Register</button>

            <br>
            <div>
                <br>
                <a>Already have an account?</a><a routerLink="/signin"> Sign in here</a>
             </div>
        </form>
    </div>
</div>
